* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #093652;
}

.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #994d1c;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  size: 100%;
  align-self: center;
}
input:focus {
  border-color: #e48f45;
  box-shadow: #994d1c;
}

button {
  padding: 10px;
  background-color: #202123;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6d4428;
}

p {
  color: #333;
}

.error {
  color: red;
}

.weather-info {
  margin-top: 20px;
}

.dynamic-response {
  margin-top: 20px;
}
